<a href="https://colab.research.google.com/github/umang-algo/Plaksha_Projects/blob/main/Garbage_image_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !wget -O "garbage_classification_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/c6275a98adb6ad948b76a5a089e37376?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210411%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210411T110945Z&X-Amz-Expires=1800&X-Amz-Signature=5e6cca327cf00d074bee444f9effb6bbb2d865e3bdb1b68a6696526434c5b545&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22garbage_classification_ai_challenge-dataset.zip%22"

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import tensorflow
import keras 
from tensorflow.keras.layers import Dense,Input,Conv2D,Flatten ,MaxPooling2D
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from keras.preprocessing.image import  img_to_array, load_img
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.optimizers import Adam, SGD
#Importing All libararies
from PIL import Image
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import cv2
import random
import os
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers import Conv2D,Flatten,Dense
from tensorflow.keras import models
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications import ResNet50,EfficientNetB0,InceptionResNetV2,VGG16, NASNetLarge, NASNetMobile,ResNet152
from tensorflow.keras.utils import plot_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , f1_score
from PIL import Image
import sys

In [ ]:
# import zipfile
# with zipfile.ZipFile('/content/garbage_classification_ai_challenge-dataset.zip', 'r') as zip_ref:
#     zip_ref.extractall('/content/drive/MyDrive/Garbage ')

In [ ]:
#import and save images in the directory in form of dataframe.
import os
image_id = []
object_type = []
dir = '/content/drive/MyDrive/Garbage /TRAIN/'
# listdir() returns a list containing the names of the entries in the directory given by path
for dirname in os.listdir(dir):
    if dirname!='.DS_Store':
        for filename in os.listdir(dir+dirname):
              image_id.append(dir+dirname+'/'+filename)
              object_type.append(dirname)

In [ ]:
print(os.listdir(dir))

['paper', 'glass', 'trash', 'cardboard', 'plastic', 'metal']

In [ ]:
import pandas as pd
df = pd.DataFrame(list(zip(image_id, object_type)),columns = ['ImageID','Type'])

In [ ]:
df

                                                ImageID   Type
0     /content/drive/MyDrive/Garbage /TRAIN/paper/40...  paper
1     /content/drive/MyDrive/Garbage /TRAIN/paper/30...  paper
2     /content/drive/MyDrive/Garbage /TRAIN/paper/03...  paper
3     /content/drive/MyDrive/Garbage /TRAIN/paper/34...  paper
4     /content/drive/MyDrive/Garbage /TRAIN/paper/20...  paper
...                                                 ...    ...
1996  /content/drive/MyDrive/Garbage /TRAIN/metal/02...  metal
1997  /content/drive/MyDrive/Garbage /TRAIN/metal/18...  metal
1998  /content/drive/MyDrive/Garbage /TRAIN/metal/03...  metal
1999  /content/drive/MyDrive/Garbage /TRAIN/metal/18...  metal
2000  /content/drive/MyDrive/Garbage /TRAIN/metal/31...  metal

[2001 rows x 2 columns]

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
df

                                                ImageID     Type
0     /content/drive/MyDrive/Garbage /TRAIN/paper/11...    paper
1     /content/drive/MyDrive/Garbage /TRAIN/trash/00...    trash
2     /content/drive/MyDrive/Garbage /TRAIN/paper/40...    paper
3     /content/drive/MyDrive/Garbage /TRAIN/paper/28...    paper
4     /content/drive/MyDrive/Garbage /TRAIN/paper/02...    paper
...                                                 ...      ...
1996  /content/drive/MyDrive/Garbage /TRAIN/metal/22...    metal
1997  /content/drive/MyDrive/Garbage /TRAIN/plastic/...  plastic
1998  /content/drive/MyDrive/Garbage /TRAIN/glass/33...    glass
1999  /content/drive/MyDrive/Garbage /TRAIN/paper/18...    paper
2000  /content/drive/MyDrive/Garbage /TRAIN/glass/39...    glass

[2001 rows x 2 columns]

In [ ]:
inp = df['ImageID']
out = df['Type']

In [ ]:
train_in,test_in,train_out,test_out = train_test_split(inp,out,random_state = 42,test_size = 0.1,stratify = out)      #splitting the data set

In [ ]:
#Create an object from image data generator
data_gen = ImageDataGenerator(
                    rotation_range = 40,
                    width_shift_range = 0.2,
                    height_shift_range = 0.2,
                    shear_range = 0.2,
                    zoom_range = 0.2,
                    horizontal_flip = True,
                    vertical_flip = True,
                    fill_mode = 'nearest'
)

In [ ]:
#catenation of training input and output
train_x = pd.concat([train_in,train_out],axis=1)

In [ ]:
#Image dataframe in sequence 
train_x.sample(frac=1).reset_index(drop=True)

                                                ImageID       Type
0     /content/drive/MyDrive/Garbage /TRAIN/trash/00...      trash
1     /content/drive/MyDrive/Garbage /TRAIN/plastic/...    plastic
2     /content/drive/MyDrive/Garbage /TRAIN/paper/16...      paper
3     /content/drive/MyDrive/Garbage /TRAIN/glass/14...      glass
4     /content/drive/MyDrive/Garbage /TRAIN/glass/29...      glass
...                                                 ...        ...
1795  /content/drive/MyDrive/Garbage /TRAIN/cardboar...  cardboard
1796  /content/drive/MyDrive/Garbage /TRAIN/cardboar...  cardboard
1797  /content/drive/MyDrive/Garbage /TRAIN/cardboar...  cardboard
1798  /content/drive/MyDrive/Garbage /TRAIN/glass/00...      glass
1799  /content/drive/MyDrive/Garbage /TRAIN/cardboar...  cardboard

[1800 rows x 2 columns]

In [ ]:
#train images from whole dataset remain after spiliting 
train_generator = data_gen.flow_from_dataframe(
                    train_x ,x_col = "ImageID",y_col = "Type",
                    target_size = (200,200),
                    batch_size = 64)

Found 1800 validated image filenames belonging to 6 classes.

In [ ]:
#cancatinate the test input and test output 
test_x = pd.concat([test_in,test_out],axis=1)

In [ ]:
#no. of image for  validation after splittting
#image size (200,200,3)
val_generator = data_gen.flow_from_dataframe(
                    test_x,x_col = "ImageID",y_col = "Type",
                    target_size = (200,200),
                    batch_size = 64)

Found 201 validated image filenames belonging to 6 classes.

In [ ]:
#Using EfficientNetB0 as transfer learining model
model = models.Sequential()
model.add(ResNet152(input_shape = (200,200, 3), include_top = False, weights = 'imagenet'))
model.add(layers.MaxPool2D())
model.add(layers.Flatten())
model.add(layers.Dense(512, activation = 'relu'))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(6, activation = 'softmax'))

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/resnet/resnet152_weights_tf_dim_ordering_tf_kernels_notop.h5
234700800/234698864 [==============================] - 2s 0us/step

In [ ]:
#complile of model with categorical crossentropy and adam optimizer with learning rate 0.001
model.compile(loss = 'categorical_crossentropy',
             optimizer = Adam(learning_rate = 0.001),
             metrics = ['accuracy'])

In [ ]:
#Fitting the model with epoch 10 and batch size 64
history = model.fit(train_generator,epochs = 10,
                    validation_data = val_generator)

Epoch 1/10
29/29 [==============================] - 2677s 92s/step - loss: 7.5694 - accuracy: 0.2900 - val_loss: 40212580.0000 - val_accuracy: 0.2438
Epoch 2/10
29/29 [==============================] - 2656s 92s/step - loss: 1.3526 - accuracy: 0.4820 - val_loss: 2181.7773 - val_accuracy: 0.2289
Epoch 3/10
11/29 [==========>...................] - ETA: 25:17 - loss: 1.0991 - accuracy: 0.5663

In [ ]:
model.save('/content/drive/MyDrive/Garbage /Model')

In [ ]:
from tensorflow import keras
model = keras.models.load_model('/content/drive/MyDrive/Garbage /Model')

In [ ]:
import os
dir = '/content/drive/MyDrive/Garbage /TEST'
images = os.listdir(dir)

In [ ]:
import numpy as np
test_res = []
for filename in images:
  test_res.append(filename)

In [ ]:
test_res

In [ ]:
test_result = []
for filename in images:
  img = image.load_img(path="/content/drive/MyDrive/Garbage /TEST/"+str(filename) ,target_size=(200, 200,3))
  img_array = image.img_to_array(img)
  img_batch = np.expand_dims(img_array, axis=0)
  pred = model.predict(img_batch)
  prediction= np.argmax(pred,axis=1)
  test_result.append(prediction)

In [ ]:
pred = np.array(test_result)

In [ ]:
pred

In [ ]:
pred1 = pred.tolist()

In [ ]:
pred2 = np.array(pred).ravel()

In [ ]:
pred2

In [ ]:
labels = (val_generator.class_indices)
labels = dict((v,k) for k,v in labels.items())
pred = [labels[k] for k in pred2]

In [ ]:
pred

In [ ]:
df3 = pd.DataFrame(list(zip(images, pred)),columns = ['Filename','Labels'])

In [ ]:
df3

In [ ]:
df3.to_csv("/content/output3.csv", index = False)